html{
    margin: 0;
    padding: 0;
}
.container{
    background-color: rgba(0, 0, 0, 0.8);
    background-position:center;
    background-size: cover;
}
body{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightgrey;
    width: 100vw;
    background-image: url(./img/Scene-19.jpg);
    background-position:center;
    background-size: cover;
    text-align: center;
}
.container{
    background-image: url(./img/Scene-20.jpg);
    background-position:center;
    background-size: cover;
}
form{
    
    box-shadow: 10px 10px 5px 0px rgba(87,84,84,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(87,84,84,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(87,84,84,0.75);
}
.myInput{
    background: transparent;
    outline: none;
    border-bottom: 4px double skyblue;
    height: 2.5rem;
    width: 300px;
    transition: 0.5s;
    text-align: start;
}
.myInput:focus{
    width: 60%;
    border-bottom: 4px double #04d1bd;
}
.myInput:focus + label{
    color:  #04d1bd;
    transition: 0.5s;
}